data/cifar10/data/x_test.pt
data/cifar10/data/y_test.pt
data/cifar10/data/CIFAR-10/cifar-10-python.tar.gz
data/cifar10/data/CIFAR-10/cifar-10-batches-py/batches.meta
data/cifar10/data/CIFAR-10/cifar-10-batches-py/data_batch_1
data/cifar10/data/CIFAR-10/cifar-10-batches-py/data_batch_2
data/cifar10/data/CIFAR-10/cifar-10-batches-py/data_batch_3
data/cifar10/data/CIFAR-10/cifar-10-batches-py/data_batch_4
data/cifar10/data/CIFAR-10/cifar-10-batches-py/data_batch_5
data/cifar10/data/CIFAR-10/cifar-10-batches-py/readme.html
data/cifar10/data/CIFAR-10/cifar-10-batches-py/test_batch
data/cifar10/data/client0/x.pt
data/cifar10/data/client0/y.pt
data/cifar10/data/client1/x.pt
data/cifar10/data/client1/y.pt
data/cifar10/data/client10/x.pt
data/cifar10/data/client10/y.pt
data/cifar10/data/client11/x.pt
data/cifar10/data/client11/y.pt
data/cifar10/data/client12/x.pt
data/cifar10/data/client12/y.pt
data/cifar10/data/client13/x.pt
data/cifar10/data/client13/y.pt
data/cifar10/data/client14/x.pt
data/cifar10/data/client14/y.pt
data/cifar10/data/client15/x.pt
data/cifar10/data/client15/y.pt
data/cifar10/data/client16/x.pt
data/cifar10/data/client16/y.pt
data/cifar10/data/client17/x.pt
data/cifar10/data/client17/y.pt
data/cifar10/data/client18/x.pt
data/cifar10/data/client18/y.pt
data/cifar10/data/client19/x.pt
data/cifar10/data/client19/y.pt
data/cifar10/data/client2/x.pt
data/cifar10/data/client2/y.pt
data/cifar10/data/client3/x.pt
data/cifar10/data/client3/y.pt
data/cifar10/data/client4/x.pt
data/cifar10/data/client4/y.pt
data/cifar10/data/client5/x.pt
data/cifar10/data/client5/y.pt
data/cifar10/data/client6/x.pt
data/cifar10/data/client6/y.pt
data/cifar10/data/client7/x.pt
data/cifar10/data/client7/y.pt
data/cifar10/data/client8/x.pt
data/cifar10/data/client8/y.pt
data/cifar10/data/client9/x.pt
data/cifar10/data/client9/y.pt
data/emnist/data/x_test.pt
data/emnist/data/y_test.pt
data/emnist/data/client0/x.pt
data/emnist/data/client0/y.pt
data/emnist/data/client1/x.pt
data/emnist/data/client1/y.pt
data/emnist/data/client10/x.pt
data/emnist/data/client10/y.pt
data/emnist/data/client11/x.pt
data/emnist/data/client11/y.pt
data/emnist/data/client12/x.pt
data/emnist/data/client12/y.pt
data/emnist/data/client13/x.pt
data/emnist/data/client13/y.pt
data/emnist/data/client14/x.pt
data/emnist/data/client14/y.pt
data/emnist/data/client15/x.pt
data/emnist/data/client15/y.pt
data/emnist/data/client16/x.pt
data/emnist/data/client16/y.pt
data/emnist/data/client17/x.pt
data/emnist/data/client17/y.pt
data/emnist/data/client18/x.pt
data/emnist/data/client18/y.pt
data/emnist/data/client19/x.pt
data/emnist/data/client19/y.pt
data/emnist/data/client2/x.pt
data/emnist/data/client2/y.pt
data/emnist/data/client20/x.pt
data/emnist/data/client20/y.pt
data/emnist/data/client21/x.pt
data/emnist/data/client21/y.pt
data/emnist/data/client22/x.pt
data/emnist/data/client22/y.pt
data/emnist/data/client23/x.pt
data/emnist/data/client23/y.pt
data/emnist/data/client24/x.pt
data/emnist/data/client24/y.pt
data/emnist/data/client25/x.pt
data/emnist/data/client25/y.pt
data/emnist/data/client26/x.pt
data/emnist/data/client26/y.pt
data/emnist/data/client27/x.pt
data/emnist/data/client27/y.pt
data/emnist/data/client28/x.pt
data/emnist/data/client28/y.pt
data/emnist/data/client29/x.pt
data/emnist/data/client29/y.pt
data/emnist/data/client3/x.pt
data/emnist/data/client3/y.pt
data/emnist/data/client30/x.pt
data/emnist/data/client30/y.pt
data/emnist/data/client31/x.pt
data/emnist/data/client31/y.pt
data/emnist/data/client32/x.pt
data/emnist/data/client32/y.pt
data/emnist/data/client33/x.pt
data/emnist/data/client33/y.pt
data/emnist/data/client34/x.pt
data/emnist/data/client34/y.pt
data/emnist/data/client35/x.pt
data/emnist/data/client35/y.pt
data/emnist/data/client36/x.pt
data/emnist/data/client36/y.pt
data/emnist/data/client37/x.pt
data/emnist/data/client37/y.pt
data/emnist/data/client38/x.pt
data/emnist/data/client38/y.pt
data/emnist/data/client39/x.pt
data/emnist/data/client39/y.pt
data/emnist/data/client4/x.pt
data/emnist/data/client4/y.pt
data/emnist/data/client40/x.pt
data/emnist/data/client40/y.pt
data/emnist/data/client41/x.pt
data/emnist/data/client41/y.pt
data/emnist/data/client42/x.pt
data/emnist/data/client42/y.pt
data/emnist/data/client43/x.pt
data/emnist/data/client43/y.pt
data/emnist/data/client44/x.pt
data/emnist/data/client44/y.pt
data/emnist/data/client45/x.pt
data/emnist/data/client45/y.pt
data/emnist/data/client46/x.pt
data/emnist/data/client46/y.pt
data/emnist/data/client47/x.pt
data/emnist/data/client47/y.pt
data/emnist/data/client48/x.pt
data/emnist/data/client48/y.pt
data/emnist/data/client49/x.pt
data/emnist/data/client49/y.pt
data/emnist/data/client5/x.pt
data/emnist/data/client5/y.pt
data/emnist/data/client6/x.pt
data/emnist/data/client6/y.pt
data/emnist/data/client7/x.pt
data/emnist/data/client7/y.pt
data/emnist/data/client8/x.pt
data/emnist/data/client8/y.pt
data/emnist/data/client9/x.pt
data/emnist/data/client9/y.pt
data/emnist/data/EMNIST/raw/emnist-balanced-test-images-idx3-ubyte
data/emnist/data/EMNIST/raw/emnist-balanced-test-labels-idx1-ubyte
data/emnist/data/EMNIST/raw/emnist-balanced-train-images-idx3-ubyte
data/emnist/data/EMNIST/raw/emnist-balanced-train-labels-idx1-ubyte
data/emnist/data/EMNIST/raw/emnist-byclass-test-images-idx3-ubyte
data/emnist/data/EMNIST/raw/emnist-byclass-test-labels-idx1-ubyte
data/emnist/data/EMNIST/raw/emnist-byclass-train-images-idx3-ubyte
data/emnist/data/EMNIST/raw/emnist-byclass-train-labels-idx1-ubyte
data/emnist/data/EMNIST/raw/emnist-bymerge-test-images-idx3-ubyte
data/emnist/data/EMNIST/raw/emnist-bymerge-test-labels-idx1-ubyte
data/emnist/data/EMNIST/raw/emnist-bymerge-train-images-idx3-ubyte
data/emnist/data/EMNIST/raw/emnist-bymerge-train-labels-idx1-ubyte
data/emnist/data/EMNIST/raw/emnist-digits-test-images-idx3-ubyte
data/emnist/data/EMNIST/raw/emnist-digits-test-labels-idx1-ubyte
data/emnist/data/EMNIST/raw/emnist-digits-train-images-idx3-ubyte
data/emnist/data/EMNIST/raw/emnist-digits-train-labels-idx1-ubyte
data/emnist/data/EMNIST/raw/emnist-letters-test-images-idx3-ubyte
data/emnist/data/EMNIST/raw/emnist-letters-test-labels-idx1-ubyte
data/emnist/data/EMNIST/raw/emnist-letters-train-images-idx3-ubyte
data/emnist/data/EMNIST/raw/emnist-letters-train-labels-idx1-ubyte
data/emnist/data/EMNIST/raw/emnist-mnist-test-images-idx3-ubyte
data/emnist/data/EMNIST/raw/emnist-mnist-test-labels-idx1-ubyte
data/emnist/data/EMNIST/raw/emnist-mnist-train-images-idx3-ubyte
data/emnist/data/EMNIST/raw/emnist-mnist-train-labels-idx1-ubyte
data/emnist/data/EMNIST/raw/gzip.zip
data/mnist/data/x_test.pt
data/mnist/data/y_test.pt
data/mnist/data/client0/x.pt
data/mnist/data/client0/y.pt
data/mnist/data/client1/x.pt
data/mnist/data/client1/y.pt
data/mnist/data/client2/x.pt
data/mnist/data/client2/y.pt
data/mnist/data/client3/x.pt
data/mnist/data/client3/y.pt
data/mnist/data/client4/x.pt
data/mnist/data/client4/y.pt
data/mnist/data/client5/x.pt
data/mnist/data/client5/y.pt
data/mnist/data/client6/x.pt
data/mnist/data/client6/y.pt
data/mnist/data/client7/x.pt
data/mnist/data/client7/y.pt
data/mnist/data/client8/x.pt
data/mnist/data/client8/y.pt
data/mnist/data/client9/x.pt
data/mnist/data/client9/y.pt
data/mnist/data/MNIST/raw/t10k-images-idx3-ubyte
data/mnist/data/MNIST/raw/t10k-images-idx3-ubyte.gz
data/mnist/data/MNIST/raw/t10k-labels-idx1-ubyte
data/mnist/data/MNIST/raw/t10k-labels-idx1-ubyte.gz
data/mnist/data/MNIST/raw/train-images-idx3-ubyte
data/mnist/data/MNIST/raw/train-images-idx3-ubyte.gz
data/mnist/data/MNIST/raw/train-labels-idx1-ubyte
data/mnist/data/MNIST/raw/train-labels-idx1-ubyte.gz
algorithm/__pycache__/base.cpython-311.pyc
algorithm/__pycache__/Ditto.cpython-311.pyc
algorithm/__pycache__/DPRF.cpython-311.pyc
algorithm/__pycache__/FedFomo.cpython-311.pyc
algorithm/__pycache__/FedMGDA.cpython-311.pyc
algorithm/__pycache__/pFedMe.cpython-311.pyc
result/DPRF/mnist_100r_1lg_5epc_64bch_0.001ll_10a_10k.csv
